<div class="container">

  <h1>Anagrams</h1>
  <% if @anagrams %>
    <p>Here are your anagrams for <%= @user_word %>:</p> 
    <% @anagrams.each do |word| %>
    	<p> <%= word %> </p>
   	<% end %>
  <% end %>

  <form action="/" method="post">
    Choose your word:
    <br>
    <input type="text" name="word">
    <input type="submit" value="Submit!">
  </form>

  
</div>


